<!--Navbar-->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'loans:user-page' %}">Alpha Dreamers Banking</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Loans
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'loans:apply' %}">Apply for Loan</a>
                    <a class="dropdown-item" href="{% url 'loans:applications' %}">Loan Applications</a>
                    <a class="dropdown-item" href="{% url 'loans:loan-payment' %}">Pay Loan</a>
                    <a class="dropdown-item" href="{% url 'loans:all-payments' %}">All Loan Payments</a>
                    <a class="dropdown-item" href="{% url 'loans:amortizations' %}">Loan Amortizations</a>
                    <a class="dropdown-item" href="{% url 'officer:loan-types' %}">Loan Types</a>
                </div>
            </li>
        </ul>

        {% if user.is_authenticated %}
        <a class="text-light" href="{% url 'login:logout' %}">Logout</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        {% for customer in customers %}
            {% if  customer.profile_pic.url %}
            <a href="{% url 'login:edit-details' customer.cust_id %}">
                <img src="{{ customer.profile_pic.url }}" style="height: 45px;" class="rounded-circle account-img" alt="User Image">
            </a>
            {% endif %}
        {% endfor %}
        {% else %}
        <a class="text-dark" href="{% url 'login:customer-login' %}">Login</a>
        <a class="btn btn-sm btn-primary m-2"  href="{% url 'login:customer-signup' %}">Register</a>
        {% endif %}
    </div>
</nav>