{% extends "main.html" %}

{% block content %}

{% if user.is_authenticated and user.is_staff == False %}
{% include 'loans/customer_nav.html' %}
{% elif user.is_staff == True %}
{% include 'officer/admin_nav.html' %}
{% else %}
{% include 'nav.html' %}
{% endif %}
{% include 'messages.html' %}
{% load crispy_forms_tags %}
<head>
	<title>Login | Alpha Dreamers Banking</title>
</head>
<!--Login-->
<div class="container py-5">
	<h1 class="font-weight-bold">Admin Login</h1>
	<hr>
	<br>
	<form method="POST">
		{% csrf_token %}
		{{ form|crispy }}
		<br>
		<button class="btn btn-primary" type="submit">Login</button>
	</form>
	<br><br>
</div>

{% endblock %}